* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

.board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 362px;
  height: 362px;
  border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  height: 90px;
  width: 90px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  height: 100%;
  width: 100%;
}
